### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas df frame
purchase_df = pd.read_csv(file_to_load)

#purchase_df.set_index('Gender', inplace = True)
purchase_df.round(2)
purchase_df.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56

## Player Count

* Display the total number of players

In [2]:
# row count of the dataframe to display the total number of players
#len(DataFrame.unique())
# df.shape[0]
Num_Players = len(purchase_df["SN"].value_counts())
tp_df =  pd.DataFrame({"Total Players": [Num_Players]})
tp_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Display a statistical overview of the dfFrame
# Run basic calculations to obtain number of unique items, average price, etc.

Itemcount = len(purchase_df["Item ID"].value_counts())

avg = purchase_df["Price"].mean()

PriceCount = purchase_df["Price"].count()

Rev = purchase_df["Price"].sum()

In [4]:
# Place all of the data found into a summary DataFrame
# Create a summary data frame to hold "Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"
summary_table = pd.DataFrame({"Number of Unique Items": Itemcount,
                              "Average Price": [avg], 
                              "Number of Purchases": [PriceCount], 
                              "Total Revenue": [Rev]})

#Display the summary data frame
summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
genders = purchase_df.drop_duplicates("SN", keep='first', inplace=False)

# The value_counts method counts unique values in a column. Excludes NA values by default but normalize is false by default. 
#Calulate the Percentage of Players
Pcount = purchase_df["Gender"].value_counts(normalize = True) * 100 #This is correct, normalize is set to true

#Calucalate total number players by gender
Gcount = genders.groupby("Gender")["SN"].count()

In [6]:
#Put calculations into the empty dataframe
new_df = pd.DataFrame({"Total Count": Gcount, "Percentage of Players": Pcount})

new_df.round(2)

                       Total Count  Percentage of Players
Female                          81                  14.49
Male                           484                  83.59
Other / Non-Disclosed           11                   1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Create a summary data frame to hold "Purchase Count", "Average Purchase Price", "Total Purchase Value" and
# "Avg Total Purchase per Person"

#Reduce the number of columns to only the players and their gender
#reduced_df = purchase_df[["SN", "Gender", "Price"]]

#Calucalate Total Purchase Value by gender

genders = purchase_df["Gender"].value_counts(ascending=True)
GPrice =purchase_df.groupby("Gender")["Price"].sum()
avg = purchase_df["Gender"].value_counts("Price") * 100 #This is correct, normalize is set to true
tc = new_df["Total Count"]


#create an empty dataframe
new_df2 = pd.DataFrame(columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"])
new_df2["Purchase Count"] = genders
new_df2[ "Average Purchase Price"] = avg.round(2)
new_df2[ "Total Purchase Value"] = GPrice
tvp = new_df2[ "Average Purchase Price"]/tc
new_df2[ "Avg Total Purchase per Person"] = tvp.round(3)

#Display the summary data frame
new_df2

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Other / Non-Disclosed,15,1.92,50.19,0.175
Female,113,14.49,361.94,0.179
Male,652,83.59,1967.64,0.173

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# Figure out the minimum and maximum ages to determine bins
max_age = purchase_df["Age"].max()
min_age = purchase_df["Age"].min()

max_age, min_age

(45, 7)

In [9]:
# Create bins in which to place values based upon players ages 
#(thanks Seth for your patience)
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, np.inf]

# Create labels for these bins
group_labels = ["< 10", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34",
                "35 to 39", "40+"]

In [10]:
# Place the sliced data into bins data series and into a new column inside of the DataFrame
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], bins, labels=group_labels)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24

In [11]:
#get the number of players
plyrs = purchase_df.drop_duplicates("SN", keep='first', inplace=False)

#create an empty dataframe with  coloumns
AgeDem_df =  pd.DataFrame(columns = ["Players", "Percentages"])

In [12]:
Total_players_byAge = plyrs.groupby(['Age Group']).count()['SN']

AgeDem_df["Players"] = Total_players_byAge

In [13]:
#Calculate the percentages by age group
pPercent = (AgeDem_df.groupby('Age Group')["Players"].sum() /
                                   plyrs["SN"].count())

AgeDem_df["Percentages"] = pPercent.round(2)

#Display Age Demographics Table
AgeDem_df

           Players  Percentages
Age Group
< 10            17         0.03
10 to 14        22         0.04
15 to 19       107         0.19
20 to 24       258         0.45
25 to 29        77         0.13
30 to 34        52         0.09
35 to 39        31         0.05
40+             12         0.02

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Figure out the minimum and maximum ages to determine bins
max_price = purchase_df["Price"].max()
min_price = purchase_df["Price"].min()

max_price, min_price
#reducePurch_df.head(2)

(4.99, 1.0)

In [15]:
#Bin the PurchaseAge_df data frame by age
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, np.inf]

# Create labels for these bins
group_labels = ["< 10", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34",
                "35 to 39", "40+"]

In [16]:
# Place the data series into a new column inside of the DataFrame
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], bins, labels=group_labels)

In [17]:
#Calculate the numbers by age group
# Create a GroupBy object based upon "Age Group"

#p = PurchAgeDem_df.groupby('Age Group')['Price'].agg(['count', 'mean','sum', 'max', 'min'])
#create an empty dataframe with columns
SummAgeDem = pd.DataFrame(columns = [
    "Purchase Count",
    "Average Purchase Price",
    "Total Purchase Value",
    "Avg Total Purchase per Person"
]
             )
 
g_purch_tot = purchase_df.groupby(['Age Group']).sum()['Price']
ga = purchase_df.groupby(['Age Group']).mean()['Price']
gc = purchase_df.groupby(['Age Group']).count()['Price']

SummAgeDem["Purchase Count"] = gc
SummAgeDem["Average Purchase Price"] = ga
SummAgeDem["Total Purchase Value"] = g_purch_tot

In [18]:
#Calculate the  purchase total per person by age group
ptpp = (SummAgeDem.groupby('Age Group')["Total Purchase Value"].sum() /
                                   plyrs.groupby('Age Group')["SN"].count())
SummAgeDem["Avg Total Purchase per Person"] = ptpp

In [19]:
#Display the summary data frame
SummAgeDem

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
< 10,23,3.353478,77.13,4.537059
10 to 14,28,2.956429,82.78,3.762727
15 to 19,136,3.035956,412.89,3.858785
20 to 24,365,3.052219,1114.06,4.318062
25 to 29,101,2.900990,293.00,3.805195
30 to 34,73,2.931507,214.00,4.115385
35 to 39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
top_spenders = (purchase_df.groupby(["SN"])
                ["Price"].agg(['mean', 'count', 'sum'])
                        .rename({'sum': 'Total Purchase Value',
                                'mean': 'Average Purchase Price',
                                'count': 'Purchase Count'}, axis=1)
                        .sort_values('Purchase Count', ascending=False)
                        .round(2)
            )
top_spenders.head()

             Average Purchase Price  Purchase Count  Total Purchase Value
SN
Lisosia93                      3.79               5                 18.96
Iral74                         3.40               4                 13.62
Idastidru52                    3.86               4                 15.45
Asur53                         2.48               3                  7.44
Inguron55                      3.70               3                 11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
top_pop_items = (purchase_df.groupby(["Item ID", "Item Name"])
                ["Price"].agg(['mean', 'count', 'sum'])
                        .rename({'sum': 'Total Purchase Value',
                                'mean': 'Average Purchase Price',
                                'count': 'Purchase Count'}, axis=1)
                        .sort_values('Purchase Count', ascending=False)
                        .round(2)
            )
top_pop_items.head()

,,Average Purchase Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
145,Fiery Glass Crusader,4.58,9,41.22
108,"Extraction, Quickblade Of Trembling Hands",3.53,9,31.77
82,Nirvana,4.90,9,44.10
19,"Pursuit, Cudgel of Necromancy",1.02,8,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [22]:
(top_pop_items.sort_values('Total Purchase Value',
                            ascending=False)
                .head(5))

#why did top_pop_items.head() give me the same values as MOst Popular after the new sort?

,,Average Purchase Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
82,Nirvana,4.90,9,44.10
145,Fiery Glass Crusader,4.58,9,41.22
92,Final Critic,4.88,8,39.04
103,Singed Scalpel,4.35,8,34.80